  body {
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Dia', helvetica, arial, sans-serif;
    font-style: normal;
    font-size: 1.5vw;  
    color: white;
    overflow: hidden;
         
    }

.about {
  float: left;
  padding: none;
  position: absolute;
  bottom: 40%;
  left: -7%;
  font-size: 1.5vw;
  z-index: 1000;
  transform: rotate(-0.25turn);
  position: center center;
}



.opencall {
  float: right;
  padding: 5px;
  position: fixed;
  bottom: 40%;
  right: -15%;
  font-size: 1.5vw;
  z-index: 100;
  transform: rotate(0.25turn);
  position: center center;
/*  animation-name: spin3D;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
/*animation-timing-function: linear;*/
}  



@keyframes spin3D {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}

.nowshowing {
  float: auto;
  padding: 5px;
  position: relative;
  z-index: 10;
 
  /*position: center center;*/
  animation-name: spin3D;
  animation-duration: 6s;
  animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}  

.responsive{
  max-width:1000%;
  max-height:1000%;
}


.center{
 position: absolute;
 top: 50%;
 left: 50%; 
 transform: scale(0.5) translate(-100%, 270%);
}


.estrellita{
  position: fixed;
  top: 2%;
  left: 3%; 
  z-index: 100;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
  
 }


    
    



   
    .parcela {
        float: left;
        padding: 5px;
        position: fixed;
        bottom: 5%;
        left: 2%;
        font-size: 1.5vw;
        z-index: 100;
      }
        
      #parcela:hover {
        filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
      }


      
#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}





.hover {
pointer-events: none;
display: inline-block;
position: absolute;
}

a:link {
color:white;
text-decoration: none;
}
a:visited {
color:white;
text-decoration: none;
}
a:hover {
color:white;
text-decoration: none;
}


/*banner open call*/
.marquee a:link {
  color:white;
  text-decoration: none;
  background-color: none;
  }
  .marquee a:visited {
  color:white;
  text-decoration: none;
  background-color: none;
  }
  .marquee a:hover {
  text-decoration: underline;
  color: #00ff00;
  background-color: none;
  /*font-family: 'Playfair Display', serif;*/
  text-shadow: 0 0 20px #00ff00;
  }
       


/*video background*/

.vimeo-wrapper {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


            
.marquee {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  bottom: 3%;
  left: 0%;
  padding-top: 6px;
  padding-bottom: 3px;
  background-color: black;
  font-family: 'Dia', helvetica, arial, sans-serif;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ccc 10%, transparent 80%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ccc 10%, transparent 80%);
}
.marquee__content {
  width: 300%;
  display: flex;
  line-height: 20px;
  animation: marquee 40s linear infinite forwards;
  
}
.marquee__content:hover {
  animation-play-state: paused;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/*button - now showing */
button {
	background: transparent;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 50px;
	padding: 0.8rem 0.8rem;
	font: 24px "Margarine", sans-serif;
	outline: none;
	cursor: pointer;
	position: fixed;
  top: 1%;
  left: 1%;
  transition: 0.2s ease-in-out;
	letter-spacing: 3px;
  align-content: center;
  text-align: center;
}

.name {
	width: 100%;
	text-align: center;
	padding: 0 0 3rem;
	font: 500 14px 'Rubik', sans-serif;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.button__wrapper {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 65px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/*
.button-pulse {
	button {
		background: var(--bg-color);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.button__wrapper:hover .pulsing {
		&:before {
			animation: pulsing 0.2s linear infinite;
		}
		&:after {
			animation: pulsing1 0.2s linear infinite;
		}
	}
}

.pulsing {
	width: 99%;
	height: 99%;
	border-radius: 50px;
	z-index: 1;
	position: relative;

	&:before,
	&:after {
		width: 100%;
		height: 100%;
		border: inherit;
		top: 0;
		left: 0;
		z-index: 0;
		background: #fff;
		border-radius: inherit;
		animation: pulsing 2.5s linear infinite;
	}
	&:after {
		animation: pulsing1 2.5s linear infinite;
	}
}

@keyframes pulsing {
	0% {
		opacity: 1;
		transform: scaleY(1) scaleX(1);
	}
	20% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.2;
		transform: scaleY(1.8) scaleX(1.4);
	}
	80% {
		opacity: 0;
		transform: scaleY(1.8) scaleX(1.4);
	}
	90% {
		opacity: 0;
		transform: scaleY(1) scaleX(1);
	}
}
@keyframes pulsing1 {
	0% {
		opacity: 1;
		transform: scaleY(1) scaleX(1);
	}
	20% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.2;
		transform: scaleY(1.3) scaleX(1.15);
	}
	80% {
		opacity: 0;
		transform: scaleY(1.3) scaleX(1.15);
	}
	90% {
		opacity: 0;
		transform: scaleY(1) scaleX(1);
	}
}
*/


/*--Open Call Red Coin--*/
.APPLY {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
z-index: 1000;
transform-style: preserve-3d;
animation: spin 3.5s linear infinite;
  }

#euro{
  width: 150px;
  height: 150px;
  margin-top: -75px;
  position: absolute;
  left: 20%;
  top: 10%;
  transform-style: preserve-3d;
  animation: spin 3.5s linear infinite;
  z-index: 1000;
}

.back{
  background-image: url("assetsLomaSerena/coin1.png");
  width: 150px;
  height: 150px;
}

.middle{
  background-image: url("../virreina/residencia/assetsLomaSerena/coin1.png");
  width: 150px;
  height: 150px;
  transform: translateZ(1px);
  position: absolute;
  top: 0;
}

.front{
    background-image: url("../virreina/residencia/assetsLomaSerena/coin2.png");
    height: 150px;
    position: absolute;
    top: 0;
    transform: translateZ(10px);
    width: 150px;
}

.middle:nth-child(1){
  transform: translateZ(1px);
}

.middle:nth-child(2){
  transform: translateZ(2px);
}

.middle:nth-child(3){
  transform: translateZ(3px);
}

.middle:nth-child(4){
  transform: translateZ(4px);
}

.middle:nth-child(5){
  transform: translateZ(5px);
}

.middle:nth-child(6){
  transform: translateZ(6px);
}

.middle:nth-child(7){
  transform: translateZ(7px);
}

.middle:nth-child(8){
  transform: translateZ(8px);
}

.middle:nth-child(9){
  transform: translateZ(9px);
}

@keyframes spin{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}
/*-------------*/


/* Initiate Auto-Pulse animations */
button.pulse-button {
  animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
}

/* Initiate color change for pulse-on-hover */
button.pulse-button-hover {
  animation: colorShift 10000ms infinite ease-in;
}

/* Continue animation and add shine on hover */
button:hover,
button:focus {
  animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in, hoverShine 200ms;
}


/* Declare border pulse animation */
@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
  }
}

.button-pressure {
	marquee {
		position: absolute;
    z-index: 1000;
		width: 70%;
		top: 125%;
		left: 5%;
		font: 18px/1 "Margarine", sans-serif;
		span {
			display: inline-block;
			height: 20px;
			&:not(:last-child) {
				margin-right: 130px;
			}
		}
	}
	button:before {
		content: "OMG YAS";
		transition: 0.5s ease;
		left: 0;
		right: 0;
		margin: auto;
		top: -15px;
		font-size: 12px;
		opacity: 0;
	}
	button:hover:before {
		animation: omg-yes 1s;
	}
}



@media screen and (max-width: 600px) {


  html{
    background-image: url('./assets/vrn_movil.png');
    }

    
  }