  body {
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Dia', helvetica, arial, sans-serif;
    font-style: normal;
    font-size: 1.5vw;  
    color: white;
    overflow: hidden;
         
    }


    
    .dropmenu {
        float: left;
        padding: 5px;
        position: fixed;
        top: 1%;
        left: 2%;
        font-size: 1.5vw;
        z-index: 100;
      }
        
      #dropmenu:hover {
        filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
      }



   
    .parcela {
        float: left;
        padding: 5px;
        position: fixed;
        bottom: 5%;
        left: 2%;
        font-size: 1.5vw;
        z-index: 100;
      }
        
      #parcela:hover {
        filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
      }


      
#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}




      .home {
        float: right;
        padding: 5px;
        position: fixed;
        top: 5%;
        right: 5%;
        font-size: 1.5vw;
      }
        
      #home:hover {
        filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
      }



    .clock {
        position: fixed;
        padding: 2%;
        align-items: center;
        top: 85%;
        left: 85%;
        width: 100%;
        height: 100%;
        z-index: 100;
        pointer-events: none;
        overflow: hidden;
    }




    .vimeo-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        overflow: hidden;
      }
      .vimeo-wrapper iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      


.hover {
pointer-events: none;
display: inline-block;
position: absolute;
}


.meimg, .litimg, .eyeimg, .handimg, .stoicimg, .typeimg, .beerimg, .blankimg, .blodimg {

max-width: 300%;
max-height: 300%;
display: none;
position: fixed;
image-orientation: center center;
top:-5%;
left: -5%;

}

.melink:hover+.meimg {
display: block;
margin-left: auto;
margin-right: auto;
z-index: -100;
max-width: 110%;
height: auto;
}

.link{
color: blue;
}

.hidden {
display: none;
}

.wrapper {
height: 100vh;
}




a:link {
color:white;
text-decoration: none;
}
a:visited {
color:white;
text-decoration: none;
}
a:hover {
color:white;
text-decoration: none;
}

.row {
position: inherit;
float: right;
font-size: 3em;
padding-right: 3%;
display: block;
background-color: transparent;
position: absolute;
bottom: 3%;
right: 3%;
}

#row:hover {
filter: drop-shadow(0 0 0.1rem rgb(251, 255, 0));
box-shadow: inset 0px 0px 5rem 1rem  rgba(251, 255, 0, .5)  ,  0px 0px 5rem 1.7rem  rgba(82, 63, 255, 1);
border-radius: 200px 200px 200px 200px;
}

.column {
  width: 100%;
}





/*banner open call*/
.marquee a:link {
  color:white;
  text-decoration: none;
  background-color: none;
  }
  .marquee a:visited {
  color:white;
  text-decoration: none;
  background-color: none;
  }
  .marquee a:hover {
  text-decoration: underline;
  color: #00ff00;
  background-color: none;
  /*font-family: 'Playfair Display', serif;*/
  text-shadow: 0 0 20px #00ff00;
  }
       

            
.marquee {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  bottom: 1%;
  left: 0%;
  padding-top: 5px;
  padding-bottom: 3px;
  background-color: black;
  font-family: 'Dia', helvetica, arial, sans-serif;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ccc 10%, transparent 80%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ccc 10%, transparent 80%);
}
.marquee__content {
  width: 300%;
  display: flex;
  line-height: 30px;
  animation: marquee 30s linear infinite forwards;
  
}
.marquee__content:hover {
  animation-play-state: paused;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}



@media screen and (max-width: 600px) {


  html{
    background-image: url('./assets/vrn_movil.png');
    }

    
  }